<form id ="#modify-user">
The Unique UID is : {{data.dataValues.id}}
<br><br>
The Username is : {{data.dataValues.username}}
<br>
  <input type="text" name="username" placeholder="username" id ="userToModify"></input>
<br><br>
The Password is : {{data.dataValues.password_hash}}
<br>
  <input type="password" name="password_hash" placeholder="password"></input>
<br><br>
Their Email is : {{data.dataValues.email}}
<br>
  <input type="email" name="email" placeholder="email"></input>
  <br><br>
Their Admin Status is : {{data.dataValues.isAdmin}}
<br>
 <input type="checkbox" name="isAdmin" value="true" placeholder="admin"></input>
<br><br>
Their Image URL is : {{data.dataValues.img_url}}
<br>
  <input type="url" name="img_url" placeholder="img url"></input>
<br><br>
Their Date of Birth is : {{data.dataValues.dob}}
 <br>
 <input type="date" name="dob" placeholder="date of birth"></input>
<br><br>
They were Created At : {{data.dataValues.createdAt}}
<br><br>
They were Last Updated At : {{data.dataValues.updatedAt}}
<br><br>
  <input type="submit"></input>
</form>

